@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.main {
    height: calc(100vh + 2000px);
    background-color: #97D9E1;
    background-image: linear-gradient(180deg, #D9AFD9 0%, #97D9E1 100%);
    overflow-x: hidden;


}

@media (max-width: 500px) {
    .main {
        overflow-x: hidden;
    }
}

.special {
    font-size: 8vw;
}

div .hbd {
    max-width: 95vw;
    animation: hbd 5s linear;
    transform: translateX(5%);

}

div .name {
    margin-top: -10rem;
    max-width: 80vw;
    transform: translateX(10%);
    filter: blur(30px);

    animation: blur 7s linear;
}


.words {
    margin-top: -10rem;
    font-size: 5vw;
    font-family: 'Rancho', cursive;
    padding: auto 1rem;
    text-align: center;
    color: #966600;
    text-shadow: 12px 12px 12px white;
    font-weight: 800;
}

.word1 {
    color: #f82793;
    animation: outscreen 8s linear;

}

.word2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.word2 .first {
    animation: outscreen 9s linear !important;
    margin-right: 1rem;
}

.word2 .second {
    color: #f82793;
    animation: outscreen-right 10s linear !important;

}

.word3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.word3 .first {
    animation: outscreen-bottom 11s linear;
    margin-right: 1rem;
}

.word3 .second {
    animation: outscreen-right 12s linear;
}

.word4 {
    animation: outscreen 13s linear !important;
    color: #f82793;
}

.word5 {
    animation: outscreen-right 14s linear !important;
}

.word6 {
    animation: outscreen-bottom 15s linear
}

.word7 {
    animation: outscreen 16s linear;
    color: #f82793;
}

.word8 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.word8 .first {
    animation: outscreen 17s linear;
    margin-right: 1rem;
}

.word8 .second {
    animation: outscreen-bottom 18s linear;
}

.word9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word9 .first {
    animation: outscreen 19s linear;
    margin-right: 1rem;
}

.word9 .second {
    animation: outscreen-right 19.3s linear
}

.word10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word10 .first {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f82793;
    font-size: 7vw;
    margin-right: 1rem;
}

.word10 .first .last-c {

    animation: special 21s linear !important;
}

.word10 .first .sixth-c {

    animation: special 22s linear !important;
}

.word10 .first .fifth-c {

    animation: special 24s linear !important;
}

.word10 .first .fourth-c {

    animation: special 26s linear !important;
}

.word10 .first .third-c {
    animation: special 28s linear !important;
}

.word10 .first .second-c {
    animation: special 30s linear !important;
}

.word10 .first .first-c {
    animation: special 32s linear !important;
}

.word10 .second {
    color: #f82793;
    font-size: 7vw;
    animation: girl 35s linear;
}





.baloon {
    background: url(../static/baloon.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: baloon 1s linear;
}

.hearts {
    background: url(../static/icons8-heart-64.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: heart 10s linear;
}

.heart-baloon {
    background: url(../static/heart-baloon.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hballoon 10s linear;


}

.heart2 {
    background: url(../static/heart.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: heart 10s linear;

}

.baloon2 {
    background: url(../static/red.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: heart 10s linear;

}


@keyframes heart {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100% {
        /* transform: translate(-50%, -5000%); */
        transform: translateY(-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);

    }
}

@keyframes hballoon {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        transform: scale(1.5), translate(-50%, 80%);
    }

    10% {
        transform: scale(0.5) translate(-50%, 100%);
    }

    20% {
        transform: scale(1.3) translate(-50%, 150%);
    }

    30% {
        transform: scale(1) translate(-50%, 200%);
    }

    40% {
        transform: scale(2) translate(-50%, 250%);
    }

    50% {
        transform: scale(0.5) translate(-50%, 300%);
    }

    60% {
        transform: scale(2) translate(-50%, 350%);
    }

    70% {
        transform: scale(1.2) translate(-50%, 400%);
    }

    80% {
        transform: scale(0.3) translate(-50%, 450%);
    }

    90% {
        transform: scale(1.9) translate(-50%, 500%);
    }

    100% {
        /* transform: translate(-50%, -5000%); */
        transform: translate(-50%, 1000%);
        opacity: 0;
    }
}

@keyframes baloon {
    0% {
        transform: scale(0.5);
    }

    30% {
        transform: scale(1.7);
    }

    70% {
        transform: scale(1.7);
    }

    96% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(10);
    }
}

@keyframes blur {
    0% {
        /* filter: blur(30px); */
        opacity: 0;
    }

    70% {
        /* filter: blur(30px); */
        opacity: 0;
    }

    100% {
        /* filter: blur(25px); */
        opacity: 1;
    }
}

@keyframes outscreen {
    0% {
        transform: translateX(-100vw);
    }

    80% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes outscreen-right {
    0% {
        transform: translateX(100vw);
    }

    80% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes outscreen-bottom {
    0% {
        transform: translateY(600px);
        opacity: 0;
    }

    80% {
        transform: translateY(600px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes girl {
    0% {
        transform: translateX(100vw);
    }

    80% {
        transform: translateX(100vw);
        font-size: 15vw;
        /* transform: rotateZ(140deg); */

    }

    90% {
        /* transform: rotateZ(50deg); */
    }

    95% {
        /* transform: rotateZ(1deg); */
    }

    100% {
        transform: translateX(0);
        font-size: 7vw;
        /* transform: translateZ(0deg); */
    }
}

@keyframes special {
    0% {
        transform: translateX(-100vw);
        font-size: 1vw;
    }

    80% {
        transform: translateX(-98vw);
        font-size: 1vw;
    }

    90% {
        font-size: 7vw;

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes hbd {
    0% {
        transform: translateY(-100%) translateX(5%);

    }

    100% {
        transform: translateY(0%) translateX(5%);
    }
}